.omar0275-gb {
  padding: 0 8px;
  border: 2px solid black;
  background-color: #b8e89b;
  font-style: italic;
}

.omar0275-yb {
  padding: 0 8px;
  border: 2px solid black;
  background-color: #fcea9d;
  font-style: italic;
}
